@import url('/reset.min.css');
@import url('/balloon.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,700i,900|Open+Sans:400,700,700i,800');

body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    color: #444;
    margin-bottom: 100px;
    }

h1, h2, h3, h4, h5, h6 {font-family: "Montserrat", sans-serif;}

.main-wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left:  10px;
}

body, html {
  height: 100%;
}

.inputbox {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #444;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;}

main {
    width: 47%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    flex-direction: row;
}

main .loginblock {
    background: rgba(255,255,255,0.8);
    color: white;
    width: 100%;
    padding: 20px;
    resize: both;
    overflow: auto;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

header {
    background: #e4e4e4;
    color: white;
    font-size: 15px;
    height: 60px;
    min-width: 200px;
    z-index: 2000;
    position: relative;
}

.logo {
    display: inline-block;
    margin-right: 20px;
}

.logo-header {
    display: inline-block;
    margin: 10px 0 0 20px;
}

span.headline-category {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 70%;
    color: red;
}

section.wrapper {
    width: 100%;
    margin-bottom: 100px;
}
article.container {
    width: 960px;
    margin: auto auto;
}
.input-group {
    width: 35%;
}
article.p {
    font-size: 80%;
    line-height: 1.25;

}
.full-image {width: 100%;}

a {text-decoration: none;}
/* ---------- BUTTONS ---------- */
button.go {
    width: 50px;
    padding: 10px;
    margin-top: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 95%;
    color: white;
    background-color: black;
    border: none;
    display: block;
}

textarea {
  resize: none;
}

input,
textarea {
  background: white;
  color: #444;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-radius: 0;
  border: 1px solid #c6c6c6;
}

input:focus,
textarea:focus {
  outline: none;
}



body.bg_homepage {
  background-image: url('../imgs/bg_homepage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #E7EBEA;
}

body.bg_main {
  background-image: url('../imgs/bg3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #E7EBEA;
}

body.bg_admin {
  background-image: url('../imgs/bg3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #E7EBEA;
}

/* ---------- CARD ---------- */
.card {
  background: white;
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}
.card-content {
  padding: 1.4em;
  color: #444;
  z-index: 1;
  background-color: #fff;
  position: relative;
}

.card-content h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 700;
  flex: 0 1 30%;
}

.card-content p {
  font-size: 80%;
  line-height: 1.25;
}


/* Flexbox stuff */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Card menu */
.menu-content {
}

.menu-content span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.data {
  color: #fff;
  /*transform: translateY(calc(70px + 4em));*/
}
.title a {
  color: #fff;
}


.card {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  margin: 30px 15px;
  flex: 0 1 30%;
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.3), 0 5px 2px rgba(0, 0, 0, 0.2);
}
.card-employee {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  margin: 30px 15px;
  flex: 0 1 40%;
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.3), 0 5px 2px rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2)
}
.card-employee:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2)
}
.card .menu-content {
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}

.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
}

.card .wrapper {
  background-color: #fff;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper-employee {
  background-color: #fff;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover {
  transform: translateY(0);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}





input.take-review {
  background-color: blue;
}


.top, .btn-box { display: flex; }
.btn-box { margin: 56px 0 0 10px; }

.all-btn {
    color: white !important;
    background-color: #F8BB52 !important;
    background-image: none !important;
    border: none !important;
    margin-right: 10px;
}
.news-btn {
    color: white !important;
    background-color: red !important;
    background-image: none !important;
    border: none !important;
    margin-right: 10px;
}
.sport-btn {
    color: white !important;
    background-color: #86AE51 !important;
    background-image: none !important;
    border: none !important;
    margin-right: 10px;

}
.entertainment-btn {
    color: white !important;
    background-color: #0094fe !important;
    background-image: none !important;
    border: none !important;
}
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #bbbbbb;*border:0;border-bottom-color:#a2a2a2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:first-child{*margin-left:0;}

.DRAFT {
    border-top: 8px solid blue;
}

.REVIEW {
    border-top: 8px solid orange;
}

.PUBLISH {
    border-top: 8px solid #86AE51;
}

.NONE {
    border-top: 8px solid orange;
}

.NEWS {
    border-top: 8px solid red;
}

.SPORT {
    border-top: 8px solid #86AE51;
}
.ENTERTAINMENT {
    border-top: 8px solid #0094fe;
}

h1.pageheader {
    padding-left: 15px;
    margin-top: 50px;
}



        /* .block{
          height: 100px;
          width: 100%;
          position: relative;
          background: linear-gradient(to right, rgba(205,102,0,1) 0%, rgba(199,34,0,1) 100%);
        }
        .block::after{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background: inherit;
          z-index: -1;
          bottom: 0;
          transform-origin: right bottom;
          transform: skewY(-3deg);
        } */


        /* ---------- INPUT BOXES ---------- */
/* Form input files */
.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #444;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}

input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #0094fe;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

label {
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

label.alt {
  top: -21px;
  font-size: 12px;
  color: #0094fe;
}

.employee-name {
margin-right: 20px;
}

@media only screen
        and (min-device-width : 375px)
        and (max-device-width : 667px) {
            .card, .card-employee {
                flex: 0 1 100%;
            }

            main {
                width: 100%;
            }

            main .loginblock{
                flex-direction: column;
            }
            .no-display {
                display: none;
            }
            .employee-name {
            margin-right: 5px;
            }
        }