@import url('/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,700i,900|Open+Sans:400,700,700i,800');

body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    color: #444;
}

body, html {
  height: 100%;
}

.inputbox {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}

main {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: left;
    resize: both;
    overflow: auto;
}

main div {
    background: rgba(255,255,255,0.8);
    color: white;
    width: 100%;
    padding: 20px;
    resize: both;
    overflow: auto;
    text-align: left;
}

/* ---------- BUTTONS ---------- */
button.go {
    width: 50px;
    padding: 10px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 120%;
    color: white;
    background-color: black;
    border: none;
    display: block;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #444;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-radius: 0;
  border: 1px solid #c6c6c6;
}

input:focus,
textarea:focus {
  outline: none;
}



body.bg_homepage {
  background-image: url('../imgs/bg_homepage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #E7EBEA;
}