<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGNNews</title>
    <link href="/style.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body class="bg_admin">
<header class="block" style="display: flex; justify-content: space-between; color: #333">
    <div class="logo-header"><a href="/articles/dashboard"><img src="/imgs/sgnn-header-text.png" width="176"/></a></div><div class="employee-name"><p><i class="fas fa-user-circle"> </i><span style="margin-left: 5px">$user </span><span class="no-display">$loggedInEmployee.getLastName()</span> | <span>$loggedInEmployeeType</span>| <a data-balloon="Logout" data-balloon-pos="down" class="btn" href="/logout"><i class="fas fa-sign-out-alt"></i></a></p>
</div>
</header>
<div class="main-wrapper">
    #parse( $template )
</div>
</body>
</html>