<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fire Lily</title>
    <link href="/style.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
<body class="bg_main">
<header class="block" style="display: flex; justify-content: space-between; color: #FEF9E7">
    <div class="logo-header"><img src="/imgs/FireLilyLogo.png" width="90"/></div>
    <div class="logo-header"><img src="/imgs/JaneLogo.png" width="176"/></div><div class="employee-name">
    <p><a data-balloon="Login" data-balloon-pos="down" class="btn" href="/login"><i class="fas fa-unlock-alt"></i></a>
    </p>
</div>
</header>
<div class="main-wrapper">
    #parse( $template )
</div>
</body>
</html>



