<div>
    <p>$user</p>
    <div>
        <p>$article.getHeadLine()</p>
        <p>$article.getJournalist().getFirstName()</p>
        <p>$article.getCreationDate().getTime()</p>
        <p>$article.getCategoryType()</p>
    </div>
</div>